.c-content-divider {
    background: rgb(63, 68, 74);
    margin: 20px 0px;
    height: 2px;
    display: block;
    position: relative;
}

.c-content-divider > i.icon-dot {
    background: rgb(63, 68, 74);
    padding: 0px;
    border-radius: 14px;
    top: -6px;
    width: 14px;
    height: 14px;
}

.c-content-divider > i {
    left: 50%;
    text-align: center;
    color: rgb(63, 68, 74);
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
}

.container-img {
    background: #dddbdb;
}

.img {
    max-width: 70%;
    max-height: 30%;
    margin: 0 15%;
}

.img img {
    max-width: 100%;
    margin-top: 20px;
}
